/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
.el-dialog__body{
  padding:10px;
}
.treebox-selected{
  background:$--color-primary;
}
.fant-help-btn{
  position:absolute;
  bottom:80px;
  width:100%;
  text-align:center;
}
